*.beam
*.bup
*.log
*.dump
*.pyc
*.swp
*.so
*/db/*
*.config

*/ebin/*.ebin
*/cbin/*
*/js*/source/script
*/js*/source/script/*
*/js*/cache/*
*/js*/cache
mochiweb/doc/*

web/js/build

static/data/*
web/static/data/adv/*
web/static/data/game/*
web/static/data/docs/*

web/static/site-media/css/base.bgi.css
web/static/site-media/css/base.css3.css
