/* <reset src="http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126"> */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;} table {border-collapse: collapse;border-spacing: 0;}
/* </reset> *//* <reset> */
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
/* </reset> */

/* <common> ---------------------------------------------------------------- */
/**
 * <des>
 * Для каждого элемента, сначала опишем его функциональные свойства,
 * положение, размер, форма
 * Затем параметры цветов и декорирования.
**/

body{
    
}
body{
    background-color: #cfcfcf;
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #ffffff, #cccccc); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome 1-9, Safari 4-5 */
    background: -webkit-linear-gradient(top, #ffffff, #cccccc);/* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #ffffff, #cccccc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, #cccccc); /* IE10 */
    background: linear-gradient(top, #ffffff, #cccccc); /* CSS3 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#cccccc'); /* IE6 и IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#cccccc')"; /* IE8 */
}

.s-main{
    
}
.s-main{
    background-color: #cccccc;
}

.s-header, .s-main, .s-footer{
    display: block;
    position: relative;
    width: 70%;
    left: 15%;
}

.b-header-group{
    display: block;    
}

.b-thehead{
    display: block;    
    height: 100px;
}

.b-thehead{
    background-color: #cfcfcf;
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #ffffff, #cccccc); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome 1-9, Safari 4-5 */
    background: -webkit-linear-gradient(top, #ffffff, #cccccc); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #ffffff, #cccccc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, #cccccc); /* IE10 */
    background: linear-gradient(top, #ffffff, #cccccc); /* CSS3 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#cccccc'); /* IE6 и IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#cccccc')"; /* IE8 */
}

.b-thehead-caption {
    display: block;
    text-align: right;
}

.b-thehead-caption {
    background-color: black;
    color: white;
}
.b-thehead-caption {
    padding-right: 1em;
    color: white;
}

.b-siginblock{
    display: block;
    background-color: red;
    float: right;
    position: relative;
    top: -100px;
    width: 200px;
    height: 200px;
}

.s-roller{
    border-top: solid 4px #0898cd;
    height: 300px;
}

.s-news{
    height: 200px;
}

.s-about{
    height: 200px;
}

.s-roller{
    background: #05254b;
    background: -moz-radial-gradient(60% 60%, circle, #1758a8, #05254b, #05254b);
    background: -webkit-radial-gradient(60% 40%, circle, #1758a8, #05254b, #05254b);
    background: -o-radial-gradient(60% 60%, circle, #1758a8, #05254b, #05254b);
    background: -ms-radial-gradient(60% 60%, circle, #1758a8, #05254b, #05254b);
    background: radial-gradient(60% 60%, circle, #1758a8, #05254b, #05254b);
}


.s-footer{
    background-color: #cfcfcf;
    background-repeat: no-repeat;
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #0192d5, #02618d); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#0192d5), color-stop(100%,#02618d));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #0192d5, #02618d);
    background: -o-linear-gradient(top, #0192d5, #02618d); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0192d5, #02618d); /* IE10  */
    background: linear-gradient(top, #0192d5, #02618d); /* CSS3 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0192d5',endColorstr='#02618d'); /* IE6 и IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#0192d5', endColorstr='#02618d')"; /* IE8 */
}


/* </common> --------------------------------------------------------------- */
/* <spec> ------------------------------------------------------------------ */
@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
}
@media screen and (max-device-width: 480px) {
    /* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
       Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
    /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
        j.mp/textsizeadjust 
        html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    */
}
@media print {
    /* 
     * print styles
     * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
     */
}
/* <spec> ------------------------------------------------------------------ */