*~

*.app
*.beam
*.bup
*.log
*.dump
*.pyc
*.swp
*.so

*.LOG
*.DAT
*.DCD

app.config
app_dev.config

ebin/*
cbin/*
priv/db/*

js*/source/script/*
js*/cache/*
js*/build/*

static/data/*
static/data/adv/*
static/data/game/*
static/data/docs/*
static/data/*
priv/session-db/*
