%% minimal tty
[
%    {sasl,[ {sasl_error_logger, {file, "./priv/logs/sasl.log" }},
%        {errlog_type, error}
%        ]
%    },

    {web, [
        {site_owner, "tvzavr"},
        {log_level, {debug,all}},
        {cookiename, "FK"},
        {expcookie, 180000}, % in seconds  300 min

        %% База данных рекламных компаний.
            {fk_db_user, "kazhuravlev"},
            {fk_db_password, "123"},
            {fk_db_name, "fk"},
            {fk_db_host, "127.0.0.1"},

        %% База ВНЕШНЯЯ данных видео
            {vk_db_user, "repl"},
            {vk_db_password, "yhbvft"},
            {vk_db_name, "vk"},
            {vk_db_host, "192.168.2.110"},

        %% База ВНЕШНЯЯ данных со статистикой
            {stat_db_user, "cff"},
            {stat_db_password, "k9an612e"},
            {stat_db_name, "AVSrv"},
            {stat_db_host, "192.168.2.102"},

        {vk_streamer, "http://192.168.2.187:8000"},

        {web_session_gc_period, 600000}, % 10 min
        {web_session_expire_timeout, 180000}, % in sec 300 min

        {http_host,  "0.0.0.0"},
        {https_host, "0.0.0.0"},
        {http_port,  8001},
        {https_port, 8443},
        {https_certfile, "priv/https-files/cert.pem"},
        {https_keyfile,  "priv/https-files/key.pem"},

        {max_auth_error, 10}
    ]},

 {kernel, [ {start_pg2, true}%,
          ]
 }
].
